<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1>Hello, world!</h1>
      <p>I'm a builder. I love to learn how things work. I enjoy taking things apart and putting them back together. I believe in the power of leveraging those who have come before us, learning through mentorship, and the practice of coding as an expression of ones self. My journey to software development has been non-traditional but can be traced back to my youngest years. I can recall at an early age wiring up my lego buildings with 9V battery powered lights, taking apart calculators and remote controlled cars, and navigating the command line in DOS. All of this in the name of understanding 'how it works'.</p>
      <p>Junior software developer with an extensive background in the educational space and light startup experience. Familiar with modern programming languages/frameworks/technologies including but not limited to Ruby, JavaScript, Python, Rails, Sinatra, Meteor, Angular, JQuery, HTML, CSS, Active Record, PostgreSQL, SQLite, Mongo, and API integration. Extremely comfortable with Git workflow, Agile development methodologies, and TDD. Confident working in pairing sessions as well as singularly.</p>
    </div>
    <div class="col-md-7 text-center">
      <h1>Say Hello!</h1>
      <%= form_tag '/mail', :id => "contact_form" do %>
        <%= text_field_tag "name", nil, class: "form-control", placeholder: "your name" %><br/>
        <%= text_field_tag "email", nil, class: "form-control", placeholder: "email" %><br/>
        <%= text_area_tag "body", nil, class: "form-control", size: "25x10", placeholder: "message" %><br/><br/>
        <%= submit_tag "Say Hello", class: "btn btn-primary", :id => "say_hello" %>
      <% end %>
    </div>
  </div>
</div>