<div class="container">
  <h1>Everyday Apps!</h1>
  <h4>I try to build a small extension off this site as frequently as possible. Inspired by <a target="_blank" href="http://jenniferdewalt.com/">Jennifer Dewalt's</a> 180 websites in 180 days.</h4>
  <ul>
    <li><h4><%= link_to 'Background', apps_background_index_path %></h4></li>
    <li><h4><%= link_to 'Todo', apps_todo_index_path %></h4></li>
    <li><h4><%= link_to 'Boxdot', apps_boxdot_index_path %></h4></li>
    <li><h4><%= link_to 'Bouncy', apps_bouncy_index_path %></h4></li>
    <li><h4><%= link_to 'My IP', apps_ip_index_path %></h4></li>
    <li><h4><%= link_to 'Stopwatch', apps_stopwatch_index_path %></h4></li>
    <li><h4><%= link_to 'Texty', apps_texty_index_path %></h4></li>
    <li><h4><%= link_to 'Confessions', apps_confessions_path %></h4></li>
    <li><h4><%= link_to 'Zx Ball', apps_zx_ball_index_path %></h4></li>
  </ul>
</div>