<%= link_to 'Admin Login', new_admin_session_path %>
<%= link_to 'Sign Up', new_user_registration_path %>
<%= link_to 'Log In', new_user_session_path %>
<%= link_to 'create admin', new_admin_registration_path %>

<h1>Hello, world!</h1>
<h1>Todo</h1>
<ul>
  <li>STYLE</li>
  <li>get basic layout</li>
  <li>look into react for live chat feature</li>
  <li>get angular running on top</li>
</ul>

<h2>All posts below:</h2>
<% @posts.each do |post|  %>
  <p><%= link_to post.title, post_path(post) %></p>
  <!-- template render for post card -->
<% end %>

<!--       <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1> -->

<input type="text" ng-model="query" placeholder="search videos">

<div ng-controller='backendTest'>
  <h2>Posts?</h2>
  <ul>
    <li ng-repeat='post in posts | filter:query'>
      <h3> <a href="/posts/{{post.id}}">{{post.title}}</a></h3>
    </li>
  </ul>
</div>